

.carts{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px;
    
    .menu_wrapper{
        width: 100%;
    }
    .outer{
        width: 100%;
    }

    .cart_total{
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        background-color: #F5E8DF;
        z-index: 99;
        border-radius: 20px 20px 0px 0px;
        border: 1px solid;
        .form{
            display: none;
            flex-direction: column;
            margin-top: 20px;
            padding-top: 10px;
            margin-bottom: 30px;
            border-top: solid 2px #155472;
            width: 50%;
            .form-input{
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                .label{
                    font-size: 20px;
                    color: #000000;
                    font-weight: 900;
                }
                .input{
                    border-radius: 5px;
                    height: 40px;
                    border: 1px solid #155471;
                }
                .submit{
                    background-color: #155471;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 900;
                }
            }
        }
    }
    .open{
        height: 86%;
    }

    .button {
        width: fit-content;
        height: fit-content;
        margin-top: 10px;
    }

    .button a {
        display: inline-block;
        overflow: hidden;
        position: relative;
        font-size: 11px;
        color: #111;
        text-decoration: none;
        padding: 10px 15px;
        border: 1px solid #aaa;
        font-weight: bold;
        
        
    }

    .button a:after{
        content: "";
        position: absolute;
        top: 0;
        right: -10px;
        width: 0%;
        background: #111;
        height: 100%;
        z-index: -1;
        transition: width 0.3s ease-in-out;
        transform: skew(-25deg);
        transform-origin: right;
    }

    .button a:hover:after {
        width: 150%;
        left: -10px;
        transform-origin: left;
        
    }

    .button a:hover {
        color: #fff;
        transition: all 0.5s ease;
    }


    .button a:nth-of-type(1) {
        border-radius: 50px 0 0 50px;
        border-right: none;
    }

    .button a:nth-of-type(2) {
        border-radius: 0px 50px 50px 0;
    }
}