* {
	box-sizing: border-box;
}

.menu_wrapper {
	display: flex;
	font-family: Montserrat;
	width: auto;
    border-radius: 10px;
    margin: 10px;
    .outer {
        position: relative;
        background-color: #F5E8DF;
        height: 350px;
        width: 550px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 10px;
        justify-content: space-evenly;
    }

    img {
        z-index: 0;
        animation-delay: 0.5s;
        border-radius: 10px;
        width: 150px;
    }

    .content {
        animation-delay: 0.3s;
        left: 20px;
        z-index: 3
        
    }

    h1 {
        color: #111;
    }

    p {
        width: 280px;
        font-size: 13px;
        line-height: 1.4;
        color: #aaa;
        margin: 20px 0;
        
    }

    .bg {
        display: inline-block;
        color: #fff;
        background: cornflowerblue;
        padding: 5px 10px;
        border-radius: 50px;
        font-size: .7em;
    }
    .button {
        width: fit-content;
        height: fit-content;
        margin-top: 10px;
    }

    .button a {
        display: inline-block;
        overflow: hidden;
        position: relative;
        font-size: 11px;
        color: #111;
        text-decoration: none;
        padding: 10px 15px;
        border: 1px solid #aaa;
        font-weight: bold;
        
        
    }

    .button a:after{
        content: "";
        position: absolute;
        top: 0;
        right: -10px;
        width: 0%;
        background: #111;
        height: 100%;
        z-index: -1;
        transition: width 0.3s ease-in-out;
        transform: skew(-25deg);
        transform-origin: right;
    }

    .button a:hover:after {
        width: 150%;
        left: -10px;
        transform-origin: left;
        
    }

    .button a:hover {
        color: #fff;
        transition: all 0.5s ease;
    }


    .button a:nth-of-type(1) {
        border-radius: 50px 0 0 50px;
        border-right: none;
    }

    .button a:nth-of-type(2) {
        border-radius: 0px 50px 50px 0;
    }

    .cart-icon {
        padding-right: 8px;
    }
    .qty{
        input{
            height: 27px;
            width: 50px;
            border-radius: 7px;
        }
    }
}
