@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$brown: #786450;


.frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .form{
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		padding-top: 10px;
		margin-bottom: 30px;
		border-top: solid 2px #155472;
		.form-input{
			display: flex;
			flex-direction: column;
			margin-top: 40px;
			.label{
				font-size: 20px;
				color: #000000;
				font-weight: 900;
			}
			.input{
				border-radius: 5px;
				height: 40px;
				border: 1px solid #155471;
			}
			.submit{
				background-color: #155471;
				color: #fff;
				font-size: 20px;
				font-weight: 900;
			}
		}
	}
}

.profile {
	width: 40%;
	height: 100%;
	text-align: center;
	
	.image {
		position: relative;
		width: 70px;
		height: 70px;
		margin: 38px auto 0 auto;
		
		.circle-1 {
			position: absolute;
			box-sizing: border-box;
			width: 76px;
			height: 76px;
			top: -3px;
			left: -3px;
			border-width: 1px;
			border-style: solid;
			border-color: $brown $brown $brown transparent;
			border-radius: 50%;
			transition: all 1.5s ease-in-out;
		}
		
		.circle-2 {
			@extend .circle-1;
			width: 82px;
			height: 82px;
			top: -6px;
			left: -6px;
			border-color: $brown transparent $brown $brown;
		}
		
		img {
			display: block;
			border-radius: 50%;
			background: #F5E8DF;
		}
		
		&:hover {
			cursor: pointer;
			
			.circle-1 {
				transform: rotate(360deg);
			}
			
			.circle-2 {
				transform: rotate(-360deg);
			}
			
		}
		
	}
	
	.name {
		font-size: 15px;
		font-weight: 600;
		margin-top: 20px;
	}
	
	.job {
		font-size: 11px;
		line-height: 15px;
	}
	
	.actions {
		margin-top: 33px;
		
		.btn {
			display: block;
			width: 120px;
			height: 30px;
			margin: 0 auto 10px auto;
			background: none;
			border: 1px solid $brown;
			border-radius: 15px;
			font-size: 12px;
			font-weight: 600;
			box-sizing: border-box;
			transition: all .3s ease-in-out;
			color: $brown;
			
			&:hover {
				background: $brown;
				color: #fff;
			}
		}
	}
	
}

