/*
 * Theme definitions
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100, 200,300, 400,600,700&display=swap");
$default_font:"Open Sans", sans-serif;
@mixin for-phone-only {
    @media (max-width: 600) { @content; }
  }
  @mixin for-tablet-portrait {
    @media (max-width: 959px) { @content; }
  }
  @mixin for-tablet-landscape {
    @media (max-width: 1024px) { @content; }
  }
  @mixin for-desktop {
    @media (max-width: 1280px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1280px) { @content; }
  }
$themes: (
    pizzaonline: (
        /**colors**/ 
        link_color: #007fa3,
        white_color: #fff,
        black_color: #000000,
        error_color: #d0021b,     
        primary_color: #047a9c,
        primary_color_hover : #036D8C,
        text_color: #252525,
        grey_color: #4e4e4e,
        tutor_theme_color: #d9e6f1,
        header_border: #e4e8f1,
        login_background: #d9e6f1, 


    )
);
