@import "../../assets/styles/mixins";

.usermenu {
  @include themify($themes) {
    display: flex;
    align-self: flex-start;
    height: 100%;
    // background: red;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    &_item{
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 20px;
      font-size: 20px;
      text-decoration: blink;
      color: #095473;
      svg{
        margin-right: 10px;
      }
    }
  }
}
